{% load wagtailimages_tags wagtailcore_tags %}

<section class="benefits-two">
    <div class="container">
        <div class="row">
             <div class="col-xl-12 col-lg-12">
                <div class="section-title text-left">
                    <h3 class="section-title__title">{{ self.title }}</h3>
                </div>
          
                <ul class="list-unstyled benefits-two__points">
                        {% for point in value.points %}
                            <li>
                                <div class="icon"><i class="fa fa-check"></i></div>
                                <div class="text"><p>{{ point.text }}</p></div>
                            </li>
                        {% endfor %}
                    </ul>
             </div>
        </div>
    </div>
</section>
