{% extends "wagtailadmin/base.html" %}
{% load static %}

{% load wagtailadmin_tags %}
{% icon name="check" classname="" title="accept-request" %}

{% block titletag %}Accepter le profil{% endblock %}

{% block extra_css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Accepter la demande" icon="check" %}

    <div>
      {{ service_request }}
        <form action="{% url 'accept_service_request' service_request.pk %}" method="post" class="nice-padding">
            {% csrf_token %}
            <h1>Accepter la demande de service?</h1>
            <input type="submit" value="Confirmer" class="button">
            <a class="button serious" href="/admin/snippets/servicerequests/servicerequest/edit/{{ service_request.pk }}">Annuler</a>
        </form>
    </div>
{% endblock %}


