{% extends "wagtailadmin/base.html" %}
{% load static %}

{% load wagtailadmin_tags %}
{% icon name="shareprofile" classname="" title="share" %}

{% block titletag %}Share Profile{% endblock %}

{% block extra_css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Share Profile" icon="shareprofile" %}

    <div>
        <form class="nice-padding">
            {{ form }}
            <input type="submit" value="Send" class="button">
            <a href="/admin/snippets/servicerequests/profile/edit/{{ profile.pk }}" class="button serious">Cancel</a>
        </form>
    </div>
{% endblock %}


