<!--Tracking Start-->
        <section class="tracking">
            <div class="container">
                <div class="tracking__inner">
                    <div class="tracking-shape-1 float-bob-y">
                        <img src="/static/images/shapes/tracking-shape-1.png" alt="">
                    </div>
                    <div class="tracking-shape-2 float-bob-x">
                        <img src="/static/images/shapes/tracking-shape-2.png" alt="">
                    </div>
                    <div class="tracking-shape-3 float-bob-x">
                        <img src="/static/images/shapes/tracking-shape-3.png" alt="">
                    </div>
                    <div class="tracking-shape-4 float-bob-y">
                        <img src="/static/images/shapes/tracking-shape-4.png" alt="">
                    </div>
                    <div class="tracking__left">
                        <div class="tracking__icon">
                            <span class="icon-folder"></span>
                        </div>
                        <div class="tracking__content">
                            <p class="tracking__sub-title">Qu'attendez-vous?</p>
                            <h3 class="tracking__title">Entrer en contact avec notre équipe!</h3>
                        </div>
                    </div>
                    <div class="tracking__btn-box">
                        <a href="{% url 'about' %}" class="thm-btn tracking__btn">Faire une demande</a>
                    </div>
                </div>
            </div>
        </section>
<!--Tracking End-->