{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/service_requests.css' %}">
{% endblock extra_css %}

{% block content %}

    <h1>Demandes de Service soumise avec succès</h1>

    <p>
    Alternative Naissance vous remercie d’avoir rempli cette demande de service. Nous faisons toujours notre possible pour offrir des services à toutes les familles qui en ont besoin et œuvrons à vous répondre dans un délai de 5 jours ouvrables.
    </p>

    <p>
        Vous recevrez sous peu une confirmation de votre demande par courriel.
    </p>
    <a href="{% url 'create_service_request' %}">Retourner</a>

{% endblock content %}
