{% load static wagtailcore_tags wagtailsettings_tags %}
{% get_settings %}

<header class="main-header-six">
    <!-- Top bar -->
    <div class="main-header-six__top">
        <div class="main-header-six__top-inner">
            <div class="main-header-six__top-address">
                <ul class="list-unstyled main-header-six__top-address-list">
                    {% if settings.core.SiteSettings.phone_number %}
                    <li>
                        <i class="icon"><span class="icon-telephone-call"></span></i>
                        <div class="text">
                            <p><a href="tel:{{ settings.core.SiteSettings.phone_number }}">
                                {{ settings.core.SiteSettings.phone_number }}
                            </a></p>
                        </div>
                    </li>
                    {% endif %}

                    {% if settings.core.SiteSettings.email %}
                    <li>
                        <i class="icon"><span class="fas fa-envelope"></span></i>
                        <span class="text">
                            <p><a href="mailto:{{ settings.core.SiteSettings.email }}">
                                {{ settings.core.SiteSettings.email }}
                            </a></p>
                        </span>
                    </li>
                    {% endif %}

                    <li>
                        <span class="text main-header-six__top-social">
                            {% if settings.core.SiteSettings.twitter_url %}
                                <a href="{{ settings.core.SiteSettings.twitter_url }}"><i class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if settings.core.SiteSettings.facebook_url %}
                                <a href="{{ settings.core.SiteSettings.facebook_url }}"><i class="fab fa-facebook"></i></a>
                            {% endif %}
                            {% if settings.core.SiteSettings.pinterest_url %}
                                <a href="{{ settings.core.SiteSettings.pinterest_url }}"><i class="fab fa-pinterest-p"></i></a>
                            {% endif %}
                            {% if settings.core.SiteSettings.instagram_url %}
                                <a href="{{ settings.core.SiteSettings.instagram_url }}"><i class="fab fa-instagram"></i></a>
                            {% endif %}
                        </span>
                    </li>

                    <li>
                        <a href="{{ settings.core.SiteSettings.contact_page.url }}" 
                           class="thm-btn-three main-menu-six__get-quote-btn">
                            <span>Demande de service</span>
                            <span class="fas fa-paper-plane"></span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <!-- Main navigation -->
    <nav class="main-menu main-menu-six">
        <div class="main-menu-six__wrapper">
            <div class="main-menu-six__wrapper-inner">
                <div class="main-menu-six__logo-box">
                    <div class="main-menu-six__logo">
                        <a href="">
                            <img src="{% static 'images/update-17-06-2023/resources/Alt-Naissance-Couleur-small.png' %}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="main-menu-six__left">
                    <div class="main-menu-six__main-menu-box">
                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                        <ul class="main-menu__list">
                            <li class="dropdown">
                                <a href="#">À propos</a>
                                <ul>
                                    <li><a href="/mission">Mission, valeurs et engagement</a></li>
                                    <li><a href="/cadre-pratique">Cadre de pratique de l’accompagnant.e</a></li>
                                    <li><a href="/conseil-administration">Conseil d’administration</a></li>
                                    <li><a href="#">Partenaires financiers</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Services d’accompagnement individuel</a>
                                <ul>
                                    <li><a href="/naissance">Naissance</a></li>
                                    <li><a href="#">Relevailles</a></li>
                                    <li><a href="#">Virtuel</a></li>
                                    <li><a href="#">Deuil</a></li>
                                    <li><a href="#">IG</a></li>
                                    <li><a href="#">Intervention périnatale</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Volet familles</a>
                                <ul>
                                    <li><a href="#">Ateliers thématiques périnataux </a></li>
                                    <li><a href="#">Ateliers deuil périnatal </a></li>
                                    <li><a href="#">Groupes de soutien </a></li>
                                    <li><a href="#">Prêt de matériel </a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Volet professionnel.le.s</a>
                                <ul>
                                    <li><a href="#">Formations de base</a></li>
                                    <li><a href="#">Faire un stage</a></li>
                                    <li><a href="#">Formation continue</a></li>
                                    <li><a href="#">Activités de ressourcement</a></li>
                                    <li><a href="#">Ressources pour les travailleur.euse.s actif.ve.s</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Faire un don</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
