{% load wagtailimages_tags %}

<section class="benefits-two">
    <div class="container">
        <div class="row">
            <!-- Colonne gauche : image -->
            <div class="col-xl-6 col-lg-6">
                <div class="benefits-two__left">
                    <div class="benefits-two__img">
                        {% if value.image %}
                            {% image value.image original as img %}
                            <img src="{{ img.url }}" alt="{{ img.alt }}">
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Colonne droite : titre + liste -->
            <div class="col-xl-6 col-lg-6">
                <div class="benefits-two__right">
                    <div class="section-title text-left">
                        <h2 class="section-title__title">{{ value.title }}</h2>
                    </div>
                    <ul class="list-unstyled benefits-two__points">
                        {% for point in value.points %}
                            <li>
                                <div class="icon"><i class="fa fa-check"></i></div>
                                <div class="text"><p>{{ point.text }}</p></div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
