<section class="table-section py-4">
  <div class="container">
    {% if self.title %}
      <h3 class="mb-3 text-center">{{ self.title }}</h3>
    {% endif %}

    <div class="custom-table overflow-auto">
      <table class="table table-bordered w-100">
        <tbody>
          {% for row in self.rows %}
            <tr>
              {% for cell in row.cells %}
                <td>{{ cell.content|safe }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
