{% load wagtailimages_tags %}

<section class="testimonial-one">
    <div class="testimonial-one-shape-2 float-bob-y">
        <img src="/static/images/shapes/testimonial-one-shape-2.png" alt="">
    </div>
    <div class="testimonial-one-shape-3 float-bob-y">
        <img src="/static/images/shapes/testimonial-one-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="testimonial-one__top">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testimonial-one__top-left">
                        <div class="section-title text-left">
                            <div class="section-sub-title-box">
                                <p class="section-sub-title">Témoignages</p>
                                <div class="section-title-shape-1">
                                    <img src="/static/images/shapes/section-title-shape-1.png" alt="">
                                </div>
                                <div class="section-title-shape-2">
                                    <img src="/static/images/shapes/section-title-shape-2.png" alt="">
                                </div>
                            </div>
                            <h2 class="section-title__title">Ce que nos<br>clients disent</h2>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="testimonial-one__bottom">
            <div class="row">
                <div class="col-xl-12">
                    <div class="owl-carousel owl-theme thm-owl__carousel testimonial-one__carousel"
                         data-owl-options='{
                            "loop": true,
                            "autoplay": true,
                            "margin": 30,
                            "nav": false,
                            "dots": false,
                            "smartSpeed": 500,
                            "autoplayTimeout": 10000,
                            "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                            "responsive": {
                                "0": {"items": 1},
                                "768": {"items": 2},
                                "992": {"items": 2},
                                "1200": {"items": 2}
                            }
                         }'>
                        {% for testimonial in self.section.items.all %}
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__single-inner">
                                    <div class="testimonial-one__client-info">
                                        <div class="testimonial-one__client-img-box">
                                            {% if testimonial.client_image %}
                                                {% image testimonial.client_image fill-150x150 class="img-fluid" alt=testimonial.client_name %}
                                            {% endif %}
                                            <div class="testimonial-one__quote">
                                                <img src="/static/images/testimonial/testimonial-1-quote.png" alt="">
                                            </div>
                                        </div>
                                        <div class="testimonial-one__client-content">
                                            <div class="testimonial-one__client-details">
                                                <h3 class="testimonial-one__client-name">{{ testimonial.client_name }}</h3>
                                                <p class="testimonial-one__client-sub-title">{{ testimonial.client_sub_title }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="testimonial-one__text">{{ testimonial.client_text }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


