{% load wagtailcore_tags wagtailimages_tags %}

<!--Why Choose Two Start--> 

<section class="why-choose-two">
    <div class="container">

        <div class="row">
            {% if self.layout == "text_left" %}
                <!-- Texte à gauche -->
                <div class="col-xl-6 col-lg-6 order-1">
                    <div class="section-title text-left">
                        {% if self.subtitle %}
                        <div class="section-sub-title-box">
                            <p class="section-sub-title">{{ self.subtitle }}</p>
                            <div class="section-title-shape-1">
                                <img src="/static/images/shapes/section-title-shape-1.png" alt="">
                            </div>
                            <div class="section-title-shape-2">
                                <img src="/static/images/shapes/section-title-shape-2.png" alt="">
                            </div>
                        </div>
                        {% endif %}
                        <h2 class="section-title__title">{{ self.title }}</h2>
                    </div>
                    <p class="feature-four__top-text">{{ self.text }}</p>
                </div>
                <!-- Image à droite -->
                <div class="col-xl-6 col-lg-6 order-2">
                    {% if self.image %}
                        {% image self.image fill-600x400 as img %}
                        <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid">
                    {% endif %}
                </div>
            {% else %}
                <!-- Image à gauche -->
                <div class="col-xl-6 col-lg-6 order-1 image">
                    {% if self.image %}
                        {% image self.image fill-600x400 as img %}
                        <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid">
                    {% endif %}
                </div>
                <!-- Texte à droite -->
                <div class="col-xl-6 col-lg-6 order-2">
                    <div class="section-title text-left">
                        {% if self.subtitle %}
                        <div class="section-sub-title-box">
                            <p class="section-sub-title">{{ self.subtitle }}</p>
                            <div class="section-title-shape-1">
                                <img src="/static/images/shapes/section-title-shape-1.png" alt="">
                            </div>
                            <div class="section-title-shape-2">
                                <img src="/static/images/shapes/section-title-shape-2.png" alt="">
                            </div>
                        </div>
                        {% endif %}
                        <h2 class="section-title__title">{{ self.title }}</h2>
                    </div>
                    <p class="feature-four__top-text">{{ self.text }}</p>
                </div>
            {% endif %}
        </div>

    </div>
</section>

 

<!--Why Choose Two End-->