{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<!--SLIDER-->
<section class="main-slider clearfix">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{
        "slidesPerView": 1,
        "loop": true,
        "effect": "fade",
        "pagination": {"el": "#main-slider-pagination","type": "bullets","clickable": true},
        "navigation": {"nextEl": "#main-slider__swiper-button-next","prevEl": "#main-slider__swiper-button-prev"},
        "autoplay": {"delay": 5000}
    }'>
        <div class="swiper-wrapper">
            {% for slide in page.slides.all %}
                {% if slide.background_image %}
                    {% image slide.background_image original as bg %}
                    <div class="swiper-slide">
                        <div class="image-layer" style="background-image: url('{{ bg.url }}');"></div>
                        
                            <div class="main-slider-shape-1 float-bob-x">
                                <img src="/static/images/shapes/main-slider-shape-1.png" alt="">
                            </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">
                                            {{ slide.title }}<br>
                                            <span>{{ slide.subtitle }}</span>
                                        </h2>
                                        <div class="main-slider__text">{{ slide.text|richtext }}</div>

                                            <div class="main-slider__btn-box">
                                                <a href="{{ slide.button_link }}" class="thm-btn main-slider__btn">
                                                    {{ slide.button_text }}
                                                </a>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-prev">
                <i class="icon-right-arrow"></i>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-next">
                <i class="icon-right-arrow1"></i>
            </div>
        </div>
    </div>

            
</section>
<!--SLIDER END-->


<!--Feature One Start-->
<section class="feature-one">
    <div class="container">
        <div class="feature-one__inner">
            <div class="row">
                {% for feature in page.features.all %}
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="{{ forloop.counter }}00ms">
                    <div class="feature-one__single">
                        <div class="feature-one__single-inner">
                            <div class="feature-one__icon">
                                <span class="{{ feature.icon }}"></span>
                            </div>
                            <h3 class="feature-one__title">
                                <a href="about">{{ feature.title }}</a>
                            </h3>
                            <p class="feature-one__text">{{ feature.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--Feature One End-->


<!--About One Start-->
{% for about in page.about_sections.all %}
<section class="about-one">
    <div class="about-one-bg wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">

                <div class="about-one__left">
                    <div class="about-one__img-box wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                        <div class="about-one__img">
                            {% if about.image_one %}
                                 {% image about.image_one original as img_one %}
                                    <img src="{{ img_one.url }}" alt="{{ img_one.alt }}">
                            {% endif %}
                        </div>
                        <div class="about-one__shape-1">
                            <img src="/static/images/shapes/about-one-shape-1.jpg" alt="">
                        </div>
                    </div>
                </div>

             
            </div>
            <div class="col-xl-6">
                <div class="about-one__right">
                    <div class="section-title text-left">
                        <div class="section-sub-title-box">
                            <p class="section-sub-title">{{ about.subtitle }}</p>
                            <div class="section-title-shape-1">
                                <img src="/static/images/shapes/section-title-shape-1.png" alt="">
                            </div>
                            <div class="section-title-shape-2">
                                <img src="/static/images/shapes/section-title-shape-2.png" alt="">
                            </div>
                        </div>
                        <h2 class="section-title__title">{{ about.text_intro|richtext }}</h2>
                    </div>
             
                    <p class="about-one__text-1">{{ about.text_intro|richtext }}</p>

                    <ul class="list-unstyled about-one__points">
                        {% if about.point1 %}
                        <li><div class="icon"><i class="fa fa-check"></i></div><div class="text"><p>{{ about.point1 }}</p></div></li>
                        {% endif %}
                        {% if about.point2 %}
                        <li><div class="icon"><i class="fa fa-check"></i></div><div class="text"><p>{{ about.point2 }}</p></div></li>
                        {% endif %}
                        {% if about.point3 %}
                        <li><div class="icon"><i class="fa fa-check"></i></div><div class="text"><p>{{ about.point3 }}</p></div></li>
                        {% endif %}
                    </ul>

                    <p class="about-one__text-2">{{ about.text_outro|richtext }}</p>

                    <div class="about-one__btn-call">

                         <div class="about-one__btn-box">
                            <a href="{% url 'create_service_request' %}" class="thm-btn about-one__btn">Demande de service</a>
                        </div>
                        <div class="about-one__call">
                            <div class="about-one__call-icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="about-one__call-content">
                                <a href="tel:{{ about.phone_number }}">{{ about.phone_number }}</a>
                                <p>{{ about.phone_label }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<!--About One End-->



 <!--Testimonial One Start-->
<section class="testimonial-one">
    <div class="testimonial-one-shape-2 float-bob-y">
        <img src="/static/images/shapes/testimonial-one-shape-2.png" alt="">
    </div>
    <div class="testimonial-one-shape-3 float-bob-y">
        <img src="/static/images/shapes/testimonial-one-shape-3.png" alt="">
    </div>
    <div class="container">
        <div class="testimonial-one__top">
            <div class="row">
                <div class="col-xl-6">
                    <div class="testimonial-one__top-left">
                        <div class="section-title text-left">
                            <div class="section-sub-title-box">
                                <p class="section-sub-title">Témoignages</p>
                                <div class="section-title-shape-1">
                                    <img src="/static/images/shapes/section-title-shape-1.png" alt="">
                                </div>
                                <div class="section-title-shape-2">
                                    <img src="/static/images/shapes/section-title-shape-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonial-one__bottom">
            <div class="row">
                <div class="col-xl-12">
                    <div class="owl-carousel owl-theme thm-owl__carousel testimonial-one__carousel"
                         data-owl-options='{
                            "loop": true,
                            "autoplay": true,
                            "margin": 30,
                            "nav": false,
                            "dots": false,
                            "smartSpeed": 500,
                            "autoplayTimeout": 10000,
                            "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                            "responsive": {
                                "0": {"items": 1},
                                "768": {"items": 2},
                                "992": {"items": 2},
                                "1200": {"items": 2}
                            }
                         }'>
                        {% for testimonial in all_testimonials %}
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__single-inner">

                                    <div class="testimonial-one__client-info">
                                        <div class="">
                                            {% load static %}
                                                <div class="testimonial-icon
                                                    {% if forloop.counter|divisibleby:3 %}
                                                            icon-blue
                                                    {% elif forloop.counter|divisibleby:2 %}
                                                            icon-purple
                                                    {% else %}
                                                            icon-pink
                                                    {% endif %}">
    
                                                    <svg viewBox="0 0 120 120" class="icon-svg">
                                                        <circle cx="60" cy="60" r="58"
                                                            fill="currentColor"
                                                            opacity="0.15"
                                                            stroke="currentColor"
                                                            stroke-width="2"/>

                                                        <path d="M60 68a20 20 0 1 0-20-20 20 20 0 0 0 20 20z"
                                                            fill="currentColor"/>

                                                        <path d="M25 95c0-10 12-20 35-20s35 10 35 20v5H25z"
                                                            fill="currentColor"/>

                                                        <path d="M60 68a18 18 0 1 0-18-18 18 18 0 0 0 18 18z"
                                                            fill="white"
                                                            opacity="0.25"/>

                                                        <path d="M28 96h64a2 2 0 0 1 2 2v1H26v-1a2 2 0 0 1 2-2z"
                                                            fill="currentColor"
                                                            opacity="0.4"/>
                                                    </svg>

                                                </div>                                           
                                        </div>                               
                                    </div>

                                    <p class="testimonial-one__text"><i>" {{ testimonial.client_text }} "</i></p>
                                    <p class="testimonial-one__text"><b>{{ testimonial.get_category_display }}</b></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Testimonial One End-->


<!--News One Start-->
<section class="news-one">
  <div class="container">
    <div class="section-title text-center">
      <div class="section-sub-title-box">
        <p class="section-sub-title">Dernières nouvelles</p>
        <div class="section-title-shape-1">
          <img src="/static/images/shapes/section-title-shape-1.png" alt="">
        </div>
        <div class="section-title-shape-2">
          <img src="/static/images/shapes/section-title-shape-2.png" alt="">
        </div>
      </div>
      <h2 class="section-title__title">Articles récents</h2>
    </div>

    <div class="row">
      {% for item in page.news_items.all %}
      <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
        <div class="news-one__single">
          <div class="news-one__img">
       
            {% if item.image %}
                {% image item.image fill-370x250 as item_img %}
                <img src="{{ item_img.url }}" alt="">
            {% endif %}

            {% if item.tag %}
            <div class="news-one__tag">
              <p><i class="far fa-folder"></i>{{ item.tag }}</p>
            </div>
            {% endif %}
            <div class="news-one__arrow-box">
              <a href="{{ item.linked_page.url }}" class="news-one__arrow">
                <span class="icon-right-arrow1"></span>
              </a>
            </div>
          </div>
        
          <div class="news-one__content">
            <h3 class="news-one__title">
              <a href="{{ item.linked_page.url }}">{{ item.title }}</a>
            </h3>
            <p class="news-one__text">{{ item.text }}</p>
            <div class="news-one__read-more">
              <a href="{{ item.linked_page.url }}">Lire plus <i class="fas fa-angle-double-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--News One End-->

<section class="services-one">
    <div class="services-one__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="services-one__top-left">
                        <div class="section-title text-left">
                            <div class="section-sub-title-box">
                                <p class="section-sub-title">Nos services</p>
                                <div class="section-title-shape-1">
                                    <img src="/static/images/shapes/section-title-shape-1.png" alt="">
                                </div>
                                <div class="section-title-shape-2">
                                    <img src="/static/images/shapes/section-title-shape-2.png" alt="">
                                </div>
                            </div>
                            <h2 class="section-title__title">Decouvrez la liste de nos services</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="services-one__top-right">
                        <p class="services-one__top-text">Alternative Naissance offre une gamme complète de services couvrant la périnatalité au lieu de la vôtre.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services-one__bottom">
        <div class="services-one__container">
            <div class="row">
                {% for service in page.services.all %}
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="{{ forloop.counter }}00ms">
                    <div class="services-one__single">
                        <div class="service-one__img">
                            {% if service.image %}
                                {% image service.image fill-370x250 as service_img %}
                                <img src="{{ service_img.url }}" alt="{{ service.title }}">
                            {% endif %}
                        </div>
                        <div class="service-one__content">
                            <h2 class="service-one__title">
                                {% if service.link_page %}
                                    <a href="{% pageurl service.link_page %}">{{ service.title }}</a>
                                {% else %}
                                    {{ service.title }}
                                {% endif %}
                            </h2>
                            <p class="service-one__text">{{ service.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



{% endblock %}
