{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section class="main-slider clearfix">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{
        "slidesPerView": 1,
        "loop": true,
        "effect": "fade",
        "pagination": {"el": "#main-slider-pagination","type": "bullets","clickable": true},
        "navigation": {"nextEl": "#main-slider__swiper-button-next","prevEl": "#main-slider__swiper-button-prev"},
        "autoplay": {"delay": 5000}
    }'>
        <div class="swiper-wrapper">
            {% for slide in page.slides.all %}
                {% if slide.background_image %}
                    {% image slide.background_image original as bg %}
                    <div class="swiper-slide">
                        <div class="image-layer" style="background-image: url('{{ bg.url }}');"></div>
                        
                            <div class="main-slider-shape-1 float-bob-x">
                                <img src="/static/images/shapes/main-slider-shape-1.png" alt="">
                            </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <h2 class="main-slider__title">
                                            {{ slide.title }}<br>
                                            <span>{{ slide.subtitle }}</span>
                                        </h2>
                                        <div class="main-slider__text">{{ slide.text|richtext }}</div>

                                            <div class="main-slider__btn-box">
                                                <a href="{{ slide.button_link }}" class="thm-btn main-slider__btn">
                                                    {{ slide.button_text }}
                                                </a>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-prev">
                <i class="icon-right-arrow"></i>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-next">
                <i class="icon-right-arrow1"></i>
            </div>
        </div>
    </div>

            
</section>

<!--Feature One Start-->
<section class="feature-one">
    <div class="container">
        <div class="feature-one__inner">
            <div class="row">
                {% for feature in page.features.all %}
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="{{ forloop.counter }}00ms">
                    <div class="feature-one__single">
                        <div class="feature-one__single-inner">
                            <div class="feature-one__icon">
                                <span class="{{ feature.icon }}"></span>
                            </div>
                            <h3 class="feature-one__title">
                                <a href="about">{{ feature.title }}</a>
                            </h3>
                            <p class="feature-one__text">{{ feature.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--Feature One End-->



<!--About One Start-->
{% for about in page.about_sections.all %}
<section class="about-one">
    <div class="about-one-bg wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">

                <div class="about-one__left">
                    <div class="about-one__img-box wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                        <div class="about-one__img">
                            {% if about.image_one %}
                                 {% image about.image_one original as img_one %}
                                    <img src="{{ img_one.url }}" alt="{{ img_one.alt }}">
                            {% endif %}
                        </div>
                        <div class="about-one__img-two">
                               {% image about.image_two original as img_two %}
                                    <img src="{{ img_two.url }}" alt="{{ img_two.alt }}" width="360" height="350">
                        </div>
                        <div class="about-one__experience">
                                <h2 class="about-one__experience-year">45</h2>
                                <p class="about-one__experience-text">Années<br> d'Expérience</p>
                        </div>
                        <div class="about-one__shape-1">
                            <img src="/static/images/shapes/about-one-shape-1.jpg" alt="">
                        </div>
                    </div>
                </div>

             
            </div>
            <div class="col-xl-6">
                <div class="about-one__right">
                    <div class="section-title text-left">
                        <div class="section-sub-title-box">
                            <p class="section-sub-title">{{ about.subtitle }}</p>
                            <div class="section-title-shape-1">
                                <img src="/static/images/shapes/section-title-shape-1.png" alt="">
                            </div>
                            <div class="section-title-shape-2">
                                <img src="/static/images/shapes/section-title-shape-2.png" alt="">
                            </div>
                        </div>
                        <h2 class="section-title__title">{{ about.text_intro|richtext }}</h2>
                    </div>
             
                    <p class="about-one__text-1">{{ about.text_intro|richtext }}</p>

                    <ul class="list-unstyled about-one__points">
                        {% if about.point1 %}
                        <li><div class="icon"><i class="fa fa-check"></i></div><div class="text"><p>{{ about.point1 }}</p></div></li>
                        {% endif %}
                        {% if about.point2 %}
                        <li><div class="icon"><i class="fa fa-check"></i></div><div class="text"><p>{{ about.point2 }}</p></div></li>
                        {% endif %}
                        {% if about.point3 %}
                        <li><div class="icon"><i class="fa fa-check"></i></div><div class="text"><p>{{ about.point3 }}</p></div></li>
                        {% endif %}
                    </ul>

                    <p class="about-one__text-2">{{ about.text_outro|richtext }}</p>

                    <div class="about-one__btn-call">

                         <div class="about-one__btn-box">
                            <a href="about" class="thm-btn about-one__btn">Demande de service</a>
                        </div>
                        <div class="about-one__call">
                            <div class="about-one__call-icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="about-one__call-content">
                                <a href="tel:{{ about.phone_number }}">{{ about.phone_number }}</a>
                                <p>{{ about.phone_label }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}



<!--About One End-->



          <!--Services One Start-->
        <section class="services-one">
            <div class="services-one__top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6">
                            <div class="services-one__top-left">
                                <div class="section-title text-left">
                                    <div class="section-sub-title-box">
                                        <p class="section-sub-title">Our services</p>
                                        <div class="section-title-shape-1">
                                            <img src="/static/images/shapes/section-title-shape-1.png" alt="">
                                        </div>
                                        <div class="section-title-shape-2">
                                            <img src="/static/images/shapes/section-title-shape-2.png" alt="">
                                        </div>
                                    </div>
                                    <h2 class="section-title__title">We’re covering all the insurance fields</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6">
                            <div class="services-one__top-right">
                                <p class="services-one__top-text">Nullam eu nibh vitae est tempor molestie id sed ex.
                                    Quisque dignissim maximus ipsum, sed rutrum metus tincidunt et. Sed eget tincidunt
                                    ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-one__bottom">
                <div class="services-one__container">
                    <div class="row">
                        <!--Services One Single Start-->
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                            <div class="services-one__single">
                                <div class="service-one__img">
                                    <img src="/static/images/services/services-1-1.jpg" alt="">
                                </div>
                                <div class="service-one__content">
                                    <div class="services-one__icon">
                                        <span class="icon-drive"></span>
                                    </div>
                                    <h2 class="service-one__title"><a href="carInsurance">Car insurance</a></h2>
                                    <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <!--Services One Single End-->
                        <!--Services One Single Start-->
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="services-one__single">
                                <div class="service-one__img">
                                    <img src="/static/images/services/services-1-2.jpg" alt="">
                                </div>
                                <div class="service-one__content">
                                    <div class="services-one__icon">
                                        <span class="icon-family"></span>
                                    </div>
                                    <h2 class="service-one__title"><a href="lifeInsurance">Life insurance</a></h2>
                                    <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <!--Services One Single End-->
                        <!--Services One Single Start-->
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="services-one__single">
                                <div class="service-one__img">
                                    <img src="/static/images/services/services-1-3.jpg" alt="">
                                </div>
                                <div class="service-one__content">
                                    <div class="services-one__icon">
                                        <span class="icon-home"></span>
                                    </div>
                                    <h2 class="service-one__title"><a href="homeInsurance">Home insurance</a></h2>
                                    <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <!--Services One Single End-->
                        <!--Services One Single Start-->
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="services-one__single">
                                <div class="service-one__img">
                                    <img src="/static/images/services/services-1-4.jpg" alt="">
                                </div>
                                <div class="service-one__content">
                                    <div class="services-one__icon">
                                        <span class="icon-heart-beat"></span>
                                    </div>
                                    <h2 class="service-one__title"><a href="healthInsurance">Health insurance</a>
                                    </h2>
                                    <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <!--Services One Single End-->
                        <!--Services One Single Start-->
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                            <div class="services-one__single">
                                <div class="service-one__img">
                                    <img src="/static/images/services/services-1-5.jpg" alt="">
                                </div>
                                <div class="service-one__content">
                                    <div class="services-one__icon">
                                        <span class="icon-briefcase"></span>
                                    </div>
                                    <h2 class="service-one__title"><a href="businessInsurance">Business
                                            insurance</a></h2>
                                    <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <!--Services One Single End-->
                        <!--Services One Single Start-->
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                            <div class="services-one__single">
                                <div class="service-one__img">
                                    <img src="/static/images/services/services-1-6.jpg" alt="">
                                </div>
                                <div class="service-one__content">
                                    <div class="services-one__icon">
                                        <span class="icon-fire"></span>
                                    </div>
                                    <h2 class="service-one__title"><a href="fireInsurance">Fire insurance</a></h2>
                                    <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <!--Services One Single End-->
                        <!--Services One Single Start-->
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="700ms">
                            <div class="services-one__single">
                                <div class="service-one__img">
                                    <img src="/static/images/services/services-1-7.jpg" alt="">
                                </div>
                                <div class="service-one__content">
                                    <div class="services-one__icon">
                                        <span class="icon-ring"></span>
                                    </div>
                                    <h2 class="service-one__title"><a href="marriageInsurance">Marriage
                                            insurance</a></h2>
                                    <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <!--Services One Single End-->
                        <!--Services One Single Start-->
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="800ms">
                            <div class="services-one__single">
                                <div class="service-one__img">
                                    <img src="/static/images/services/services-1-8.jpg" alt="">
                                </div>
                                <div class="service-one__content">
                                    <div class="services-one__icon">
                                        <span class="icon-plane"></span>
                                    </div>
                                    <h2 class="service-one__title"><a href="travelInsurance">Travel insurance</a>
                                    </h2>
                                    <p class="service-one__text">Lorem ipsum dolor sit amet, sed consectetur adipiscing
                                        elit.</p>
                                </div>
                            </div>
                        </div>
                        <!--Services One Single End-->
                    </div>
                </div>
            </div>
        </section>
        <!--Services One End-->

     <!--Why Choose One Start-->
        <section class="why-choose-one">
            <div class="why-choose-one-shape-1"
                style="background-image: url('/static/images/shapes/why-choose-one-shape-1.png')"></div>
            <div class="why-choose-one-shape-2 float-bob-y">
                <img src="/static/images/shapes/why-choose-one-shape-2.png" alt="">
            </div>
            <div class="why-choose-one-shape-3 float-bob-x">
                <img src="/static/images/shapes/why-choose-one-shape-3.png" alt="">
            </div>
            <div class="why-choose-one-shape-4 float-bob-y">
                <img src="/static/images/shapes/why-choose-one-shape-4.png" alt="">
            </div>
            <div class="why-choose-one-shape-5 float-bob-y">
                <img src="/static/images/shapes/why-choose-one-shape-5.png" alt="">
            </div>
            <div class="why-choose-one-shape-6 float-bob-x">
                <img src="/static/images/shapes/why-choose-one-shape-6.png" alt="">
            </div>
            <div class="why-choose-one-img wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms">
                <img src="/static/images/resources/why-choose-one-img.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="why-choose-one__left">
                            <div class="section-title text-left">
                                <div class="section-sub-title-box">
                                    <p class="section-sub-title">Why choose</p>
                                    <div class="section-title-shape-1">
                                        <img src="/static/images/shapes/section-title-shape-3.png" alt="">
                                    </div>
                                    <div class="section-title-shape-2">
                                        <img src="/static/images/shapes/section-title-shape-4.png" alt="">
                                    </div>
                                </div>
                                <h2 class="section-title__title">Few reasons for people choosing insur</h2>
                            </div>
                            <p class="why-choose-one__text">Nullam eu nibh vitae est tempor molestie id sed ex. Quisque
                                dignissim maximus ipsum, sed rutrum metus tincidunt et.</p>
                            <div class="why-choose-one__list-box">
                                <ul class="list-unstyled why-choose-one__list">
                                    <li>
                                        <div class="why-choose-one__single">
                                            <div class="why-choose-one__list-icon">
                                                <span class="icon-easy-to-use"></span>
                                            </div>
                                            <div class="why-choose-one__list-title-box">
                                                <div class="why-choose-one__list-title-inner">
                                                    <h3 class="why-choose-one__list-title">Fast & easy process</h3>
                                                </div>
                                                <div class="why-choose-one__list-text-box">
                                                    <p class="why-choose-one__list-text">Lorem ipsum dolor sit amet,
                                                        sectetur adipiscing elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="why-choose-one__single">
                                            <div class="why-choose-one__list-icon">
                                                <span class="icon-contract"></span>
                                            </div>
                                            <div class="why-choose-one__list-title-box">
                                                <div class="why-choose-one__list-title-inner">
                                                    <h3 class="why-choose-one__list-title">Fast & easy process</h3>
                                                </div>
                                                <div class="why-choose-one__list-text-box">
                                                    <p class="why-choose-one__list-text">Lorem ipsum dolor sit amet,
                                                        sectetur adipiscing elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="why-choose-one__single">
                                            <div class="why-choose-one__list-icon">
                                                <span class="icon-policy"></span>
                                            </div>
                                            <div class="why-choose-one__list-title-box">
                                                <div class="why-choose-one__list-title-inner">
                                                    <h3 class="why-choose-one__list-title">Control over policy</h3>
                                                </div>
                                                <div class="why-choose-one__list-text-box">
                                                    <p class="why-choose-one__list-text">Lorem ipsum dolor sit amet,
                                                        sectetur adipiscing elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="why-choose-one__single">
                                            <div class="why-choose-one__list-icon">
                                                <span class="icon-fund"></span>
                                            </div>
                                            <div class="why-choose-one__list-title-box">
                                                <div class="why-choose-one__list-title-inner">
                                                    <h3 class="why-choose-one__list-title">Save your money</h3>
                                                </div>
                                                <div class="why-choose-one__list-text-box">
                                                    <p class="why-choose-one__list-text">Lorem ipsum dolor sit amet,
                                                        sectetur adipiscing elit.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        
        <!--Why Choose One End-->



 <!--Testimonial One Start-->
        <section class="testimonial-one">
            <div class="testimonial-one-shape-2 float-bob-y">
                <img src="/static/images/shapes/testimonial-one-shape-2.png" alt="">
            </div>
            <div class="testimonial-one-shape-3 float-bob-y">
                <img src="/static/images/shapes/testimonial-one-shape-3.png" alt="">
            </div>
            <div class="container">
                <div class="testimonial-one__top">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="testimonial-one__top-left">
                                <div class="section-title text-left">
                                    <div class="section-sub-title-box">
                                        <p class="section-sub-title">testimonials</p>
                                        <div class="section-title-shape-1">
                                            <img src="/static/images/shapes/section-title-shape-1.png" alt="">
                                        </div>
                                        <div class="section-title-shape-2">
                                            <img src="/static/images/shapes/section-title-shape-2.png" alt="">
                                        </div>
                                    </div>
                                    <h2 class="section-title__title">What our customers are <br> talking about</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="testimonial-one__top-right">
                                <p class="testimonial-one__top-text">Pellentesque habitant morbi tristique senectus
                                    netus et malesuada fames ac turp egestas. Aliquam viverra arcu. Donec aliquet
                                    blandit enim feugiat mattis.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-one__bottom">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="owl-carousel owl-theme thm-owl__carousel testimonial-one__carousel"
                                data-owl-options='{
                                "loop": true,
                                "autoplay": true,
                                "margin": 30,
                                "nav": false,
                                "dots": false,
                                "smartSpeed": 500,
                                "autoplayTimeout": 10000,
                                "navText": ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                                "responsive": {
                                    "0": {
                                        "items": 1
                                    },
                                    "768": {
                                        "items": 2
                                    },
                                    "992": {
                                        "items": 2
                                    },
                                    "1200": {
                                        "items": 2
                                    }
                                }
                            }'>
                                <div class="item">
                                    <div class="testimonial-one__single">
                                        <div class="testimonial-one__single-inner">
                                            <div class="testimonial-one__shape-1">
                                                <img src="/static/images/shapes/testimonial-one-shape-1.png" alt="">
                                            </div>
                                            <div class="testimonial-one__client-info">
                                                <div class="testimonial-one__client-img-box">
                                                    <img src="/static/images/testimonial/testimonial-1-1.jpg" alt="">
                                                    <div class="testimonial-one__quote">
                                                        <img src="/static/images/testimonial/testimonial-1-quote.png"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="testimonial-one__client-content">
                                                    <div class="testimonial-one__client-review">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="testimonial-one__client-details">
                                                        <h3 class="testimonial-one__client-name">Smith Vectoria</h3>
                                                        <p class="testimonial-one__client-sub-title">director</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="testimonial-one__text">Pellentesque habitant morbi tristique
                                                senectus netus et malesuada fames ac turp egestas. Aliquam viverra arcu.
                                                Donec aliquet blandit enim feugiat mattis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-one__single">
                                        <div class="testimonial-one__single-inner">
                                            <div class="testimonial-one__shape-1">
                                                <img src="/static/images/shapes/testimonial-one-shape-1.png" alt="">
                                            </div>
                                            <div class="testimonial-one__client-info">
                                                <div class="testimonial-one__client-img-box">
                                                    <img src="/static/images/testimonial/testimonial-1-2.jpg" alt="">
                                                    <div class="testimonial-one__quote">
                                                        <img src="/static/images/testimonial/testimonial-1-quote.png"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="testimonial-one__client-content">
                                                    <div class="testimonial-one__client-review">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="testimonial-one__client-details">
                                                        <h3 class="testimonial-one__client-name">Christine Eve</h3>
                                                        <p class="testimonial-one__client-sub-title">director</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="testimonial-one__text">Pellentesque habitant morbi tristique
                                                senectus netus et malesuada fames ac turp egestas. Aliquam viverra arcu.
                                                Donec aliquet blandit enim feugiat mattis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-one__single">
                                        <div class="testimonial-one__single-inner">
                                            <div class="testimonial-one__shape-1">
                                                <img src="/static/images/shapes/testimonial-one-shape-1.png" alt="">
                                            </div>
                                            <div class="testimonial-one__client-info">
                                                <div class="testimonial-one__client-img-box">
                                                    <img src="/static/images/testimonial/testimonial-1-3.jpg" alt="">
                                                    <div class="testimonial-one__quote">
                                                        <img src="/static/images/testimonial/testimonial-1-quote.png"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="testimonial-one__client-content">
                                                    <div class="testimonial-one__client-review">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="testimonial-one__client-details">
                                                        <h3 class="testimonial-one__client-name">Hallen Smith</h3>
                                                        <p class="testimonial-one__client-sub-title">director</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="testimonial-one__text">Pellentesque habitant morbi tristique
                                                senectus netus et malesuada fames ac turp egestas. Aliquam viverra arcu.
                                                Donec aliquet blandit enim feugiat mattis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-one__single">
                                        <div class="testimonial-one__single-inner">
                                            <div class="testimonial-one__shape-1">
                                                <img src="/static/images/shapes/testimonial-one-shape-1.png" alt="">
                                            </div>
                                            <div class="testimonial-one__client-info">
                                                <div class="testimonial-one__client-img-box">
                                                    <img src="/static/images/testimonial/testimonial-1-4.jpg" alt="">
                                                    <div class="testimonial-one__quote">
                                                        <img src="/static/images/testimonial/testimonial-1-quote.png"
                                                            alt="">
                                                    </div>
                                                </div>
                                                <div class="testimonial-one__client-content">
                                                    <div class="testimonial-one__client-review">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="testimonial-one__client-details">
                                                        <h3 class="testimonial-one__client-name">Kevin Martin</h3>
                                                        <p class="testimonial-one__client-sub-title">director</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="testimonial-one__text">Pellentesque habitant morbi tristique
                                                senectus netus et malesuada fames ac turp egestas. Aliquam viverra arcu.
                                                Donec aliquet blandit enim feugiat mattis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonial One End-->



         <!--News One Start-->
        <section class="news-one">
            <div class="container">
                <div class="section-title text-center">
                    <div class="section-sub-title-box">
                        <p class="section-sub-title">recent news feed</p>
                        <div class="section-title-shape-1">
                            <img src="/static/images/shapes/section-title-shape-1.png" alt="">
                        </div>
                        <div class="section-title-shape-2">
                            <img src="/static/images/shapes/section-title-shape-2.png" alt="">
                        </div>
                    </div>
                    <h2 class="section-title__title">Latest news & articles <br> from the blog</h2>
                </div>
                <div class="row">
                    <!--News One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                        <div class="news-one__single">
                            <div class="news-one__img">
                                <img src="/static/images/blog/news-1-1.jpg" alt="">
                                <div class="news-one__tag">
                                    <p><i class="far fa-folder"></i>BUSINESS</p>
                                </div>
                                <div class="news-one__arrow-box">
                                    <a href="newsDetails" class="news-one__arrow">
                                        <span class="icon-right-arrow1"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <ul class="list-unstyled news-one__meta">
                                    <li><a href="newsDetails"><i class="far fa-calendar"></i> 15 March, 2023 </a>
                                    </li>
                                    <li><a href="newsDetails"><i class="far fa-comments"></i> 02 Comments</a>
                                    </li>
                                </ul>
                                <h3 class="news-one__title"><a href="newsDetails">Which allows you to pay down
                                        insurance bills</a></h3>
                                <p class="news-one__text">Aliquam viverra arcu. Donec aliquet blandit enim feugiat
                                    mattis.</p>
                                <div class="news-one__read-more">
                                    <a href="newsDetails">Read More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                        <div class="news-one__single">
                            <div class="news-one__img">
                                <img src="/static/images/blog/news-1-2.jpg" alt="">
                                <div class="news-one__tag">
                                    <p><i class="far fa-folder"></i>BUSINESS</p>
                                </div>
                                <div class="news-one__arrow-box">
                                    <a href="newsDetails" class="news-one__arrow">
                                        <span class="icon-right-arrow1"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <ul class="list-unstyled news-one__meta">
                                    <li><a href="newsDetails"><i class="far fa-calendar"></i> 15 March, 2023 </a>
                                    </li>
                                    <li><a href="newsDetails"><i class="far fa-comments"></i> 02 Comments</a>
                                    </li>
                                </ul>
                                <h3 class="news-one__title"><a href="newsDetails">Leverage agile frameworks to
                                        provide</a></h3>
                                <p class="news-one__text">Aliquam viverra arcu. Donec aliquet blandit enim feugiat
                                    mattis.</p>
                                <div class="news-one__read-more">
                                    <a href="newsDetails">Read More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                    <!--News One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                        <div class="news-one__single">
                            <div class="news-one__img">
                                <img src="/static/images/blog/news-1-3.jpg" alt="">
                                <div class="news-one__tag">
                                    <p><i class="far fa-folder"></i>BUSINESS</p>
                                </div>
                                <div class="news-one__arrow-box">
                                    <a href="newsDetails" class="news-one__arrow">
                                        <span class="icon-right-arrow1"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <ul class="list-unstyled news-one__meta">
                                    <li><a href="newsDetails"><i class="far fa-calendar"></i> 15 March, 2023 </a>
                                    </li>
                                    <li><a href="newsDetails"><i class="far fa-comments"></i> 02 Comments</a>
                                    </li>
                                </ul>
                                <h3 class="news-one__title"><a href="newsDetails">Bring to the table win-win
                                        survival strategis</a></h3>
                                <p class="news-one__text">Aliquam viverra arcu. Donec aliquet blandit enim feugiat
                                    mattis.</p>
                                <div class="news-one__read-more">
                                    <a href="newsDetails">Read More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--News One Single End-->
                </div>
            </div>
        </section>
        <!--News One End-->




{% endblock %}
