{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="policy-proposal py-5">
  <div class="container">
     <h2 class="mb-4">Inscription</h2>
        <div class="row mb-5">
            <div class="col-lg-10 mx-auto">
                <p class="spacing">L'inscription est gratuite et vous permettra de participer à nos activités.</p>

                <p class="spacing">Chez Alternative Naissance, c’est gagnant devenir membre!</p>

                <p class="spacing">Alternative Naissance est un organisme communautaire offrant des services majoritairement gratuits aux familles de Montréal pendant qu’elles traversent la périnatalité.</p>
                <p class="spacing">Lorsque vous êtes membre, vous avez accès à tout ce que nous offrons, dont :</p>

                <ul class="ms-4">
                <li>Participation aux ateliers</li>
                <li>Accès aux prêts de matériel</li>
                <li>Participation aux formations</li>
                <li>Demander un service individuel gratuit</li>
                <li>Accès à la bibliothèque</li>
                <li>Etc.</li>
                </ul>

                <p><strong>Devenir membre, c’est gratuit!</strong></p>
                <p>Pour devenir membre, vous n’avez qu’à remplir le formulaire ci-dessous :</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 mx-auto">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
                {% endif %}

                <form method="post" class="policy-proposal__form">
                {% csrf_token %}
                        <div class="row">

                            <div class="col-xl-6">
                            <div class="policy-proposal__input-box">
                                <p class="policy-proposal__input-title">Votre prénom :</p>
                                <input type="text" name="prenom" placeholder="John">
                            </div>
                            </div>

                            <div class="col-xl-6">
                            <div class="policy-proposal__input-box">
                                <p class="policy-proposal__input-title">Votre nom :</p>
                                <input type="text" name="nom" placeholder="Doe">
                            </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Votre courriel :</p>
                                    <input type="email" name="courriel" placeholder="johndoe@gmail.com">
                                </div>
                            </div>

                            <div class="col-xl-6">
                            <div class="policy-proposal__input-box">
                                <p class="policy-proposal__input-title">Votre pseudonyme (alpha numérique sans espace) :</p>
                                <input type="text" name="pseudonyme" placeholder="Votre pseudonyme">
                            </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Votre mot de passe (6 caractères minimum) :</p>
                                    <input type="password" name="mot_de_passe" placeholder="Votre mot de passe">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="policy-proposal__input-box">
                                    <p class="policy-proposal__input-title">Votre mot de passe (6 caractères minimum) :</p>
                                    <input type="password" name="mot_de_passe_confirmation" placeholder="Votre mot de passe (confirmation)">
                                </div>
                            </div>
                    
                            <div class="col-xl-6">
                            <div class="policy-proposal__input-box">
                                <p class="policy-proposal__input-title">Votre adresse (avec appartement) :</p>
                                <input type="text" name="adresse" placeholder="Votre adresse">
                            </div>
                            </div>

                            <div class="col-xl-6">
                            <div class="policy-proposal__input-box">
                                <p class="policy-proposal__input-title">Votre ville :</p>
                                <input type="text" name="ville" placeholder="Votre ville">
                            </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="policy-proposal__input-box">
                                            <p class="policy-proposal__input-title">Votre province :</p>
                                            <div class="select-box">
                                                <select class="" name="province">
                                                    <option data-display="Votre province">Votre province</option>
                                                    <option value="AB">Alberta</option>
                                                    <option value="BC">Colombie-Britannique</option>
                                                    <option value="PE">Île-du-Prince-Édouard</option>
                                                    <option value="MB">Manitoba</option>
                                                    <option value="NB">Nouveau-Brunswick</option>
                                                    <option value="NS">Nouvelle-Écosse</option>
                                                    <option value="NU">Nunavut</option>
                                                    <option value="ON">Ontario</option>
                                                    <option value="QC">Québec</option>
                                                    <option value="SK">Saskatchewan</option>
                                                    <option value="NL">Terre-Neuve-et-Labrador</option>
                                                    <option value="NT">Territoires du Nord-Ouest</option>
                                                    <option value="YT">Yukon</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            

                            <div class="col-xl-6">
                            <div class="policy-proposal__input-box">
                                <p class="policy-proposal__input-title">Code postal :</p>
                                <input type="text" name="code_postal" placeholder="Code postal">
                            </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12">
                                    <p class="policy-proposal__input-title">Vous devez inscrire au moins un numéro de téléphone*</p>
                                </div>
                            </div>

                            <div class="col-xl-6">
                            <div class="policy-proposal__input-box">
                                <p class="policy-proposal__input-title">Votre téléphone à la maison :</p>
                                <input type="text" name="telephone_maison" placeholder="Votre téléphone à la maison">
                            </div>
                            </div>

                            <div class="col-xl-6">
                            <div class="policy-proposal__input-box">
                                <p class="policy-proposal__input-title">Votre cellulaire :</p>
                                <input type="text" name="cellulaire" placeholder="Votre cellulaire">
                            </div>
                            </div>

                            <div class="col-xl-6">
                            <div class="policy-proposal__input-box">
                                <p class="policy-proposal__input-title">Votre téléphone au travail :</p>
                                <input type="text" name="telephone_travail" placeholder="Votre téléphone au travail">
                            </div>
                            </div>

                            <div class="col-xl-6">
                            <div class="policy-proposal__input-box">
                                <p class="policy-proposal__input-title">Votre numéro de poste :</p>
                                <input type="text" name="numero_poste" placeholder="Votre numéro de poste">
                            </div>
                            </div>

                            
                        </div>

                        <div class="row">
                                <div class="col-xl-12">
                                    <div class="policy-proposal__messages-boxes">
                                        
                                        <button type="submit" class="thm-btn policy-proposal__btn">Soumettre</button>
                                    </div>
                                </div>
                        </div>
                </form>
            </div>
        </div>

  </div>
</section>
{% endblock %}
