<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include "partials/head.html" %}

<body class="custom-cursor {{ bodyClass|default:'' }}">
    {% include "partials/customcursor.html" %}
    {% include "partials/preloader.html" %}

    <div class="page-wrapper">
        {% include "partials/header.html" %}

        {# on utilise le flag #}
        {% if page.show_page_header %}
           
        {% endif %}

        {# Contenu spécifique aux pages enfants #}
        {% block content %}{% endblock %}

        {% if page.show_counter %}
            {% include "partials/counterOne.html" %}
        {% endif %}

        {% if page.show_tracking %}
            {% include "partials/tracking.html" %}
        {% endif %}

        {% if page.show_footer %}
            {% include "partials/footer.html" %}
        {% endif %}
    </div>

    {% include "partials/mobileNav.html" %}
    {% include "partials/searchPopUp.html" %}
    {% include "partials/script.html" %}

    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}


    {% block script %}
        <script src="{% static 'js/insur.js' %}"></script>

    {{ block.super }}
    <script src="{% static 'vendors/swiper/swiper-bundle.min.js' %}"></script>
    <script>
        const swiper = new Swiper('.thm-swiper__slider', {
            slidesPerView: 1,
            loop: true,
            effect: 'fade',
            autoplay: { delay: 5000 },
            pagination: { el: '#main-slider-pagination', clickable: true },
            navigation: { nextEl: '#main-slider__swiper-button-next', prevEl: '#main-slider__swiper-button-prev' },
        });
    </script>
{% endblock %}


</body>
</html>
