<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include "partials/head.html" %}

<body class="custom-cursor {{ bodyClass|default:'' }}">
    {% include "partials/customcursor.html" %}
    {% include "partials/preloader.html" %}

    <div class="page-wrapper">
        {% include "partials/header.html" %}

        {% if page.show_stricky_header %}
            {% include "partials/strickyHeader.html" %}
        {% endif %}

        {% if page.title %}
            {% include "partials/pageHeader.html" %}
        {% endif %}

        {# Contenu spécifique aux pages enfants #}
        {% block content %}{% endblock %}

        {% if page.show_counter %}
            {% include "partials/counterOne.html" %}
        {% endif %}

        {% if page.show_tracking %}
            {% include "partials/tracking.html" %}
        {% endif %}

        {% if page.show_footer %}
            {% include "partials/footer.html" %}
        {% endif %}
    </div>

    {% include "partials/mobileNav.html" %}
    {% include "partials/searchPopUp.html" %}
    {% include "partials/script.html" %}

    {% block script %}
        <script src="{% static 'js/insur.js' %}"></script>
    {% endblock %}
</body>
</html>
